<link rel="stylesheet" href="css/variables.css">
<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <nav>
        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/">Home</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>


<style>
  .page-header {
    padding: 2em 0;
    background: var(--clr-primary-400);
  }
  
  .page-header__content {
    display: flex;
    justify-content: space-between;
  }  
  .nav-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .nav-list a {
    color: var(--clr-neutral-100);
    text-decoration: none;
  }
  
  .nav-list a:focus,
  .nav-list a:hover {
    color: var(--clr-neutral-500);
    text-decoration: none;
  }
</style>